src/main/resources/META-INF/fsfw.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="flowspace_firewall">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch" maxOccurs="unbounded" minOccurs="1">
	  <xs:complexType>
	    <xs:attribute name="name" type="xs:string" use="required" />
	    <xs:attribute name="dpid" type="xs:string" use="required" />
	    <xs:attribute name="flush_rules_on_connect" type="xs:boolean" use="required" />
	    <xs:attribute name="install_default_drop" type="xs:boolean" use="optional" />
	  </xs:complexType>
	</xs:element>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="slice"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="slice">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="switch"/>
        <xs:element ref="controller"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="controller">
    <xs:complexType>
      <xs:attribute name="ip_address" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="port" use="required" type="xs:integer"/>
      <xs:attribute name="ssl" use="required" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="switch">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="1" maxOccurs="unbounded" ref="port" />
      </xs:sequence>
      <xs:attribute name="flow_rate" type="xs:integer" use="required" />
      <xs:attribute name="flush_rules_on_connect" type="xs:boolean" use="required" />
      <xs:attribute name="max_flows" type="xs:integer" use="required"/>
      <xs:attribute name="name" use="required" type="xs:NCName" />
      <xs:attribute name="packet_in_rate" type="xs:int" use="required" />
      <xs:attribute name="tag_management" type="xs:boolean" use="optional" />
      <xs:attribute name="do_timeouts" type="xs:boolean" use="optional" />
    </xs:complexType>
  </xs:element>

  <xs:element name="port">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="range"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="range">
    <xs:complexType>
      <xs:attribute name="end" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="-1" />
	    <xs:maxInclusive value="4095" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="start" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:integer">
	    <xs:minInclusive value="-1" />
	    <xs:maxInclusive value="4095"/>
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
